.feautured{
    width: 100%;
display: flex;
justify-content: space-between;
}
.feauturedItem{
    flex:1;
    margin:0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -7px 3px 5px -5px rgba(0,0,0,0.62);
-webkit-box-shadow: -7px 3px 5px -5px rgba(0,0,0,0.62);
-moz-box-shadow: -7px 3px 5px -5px rgba(0,0,0,0.62);
}
.feauturedTitle{
    font-size: 20px;
}
.feauturedMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.feauturedMoney{
    font-size: 30px;
    font-weight: 600;
}
.feauturedMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.feauturedIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.feauturedIcon.negative{
    color: red;
}
.feauturedSub{
    color: grey;
    font-size: 14px;
}
